.classpath
.project
bin/*
gen/*
private/*
nbandroid/*
.idea
subsonic-android.iml
releases/
proguard_logs/
/gen/
/out/
.gradle/*
/build/
local.properties
*Thumbs.db
Subsonic\.iml

app/google/release
/.gradle/
keystore.properties
.settings
*.keystore
app/upload-certificate.pem
